.popup__modal {
    z-index: 100;
    position: fixed;
    top: 33vh;
    left: 30%;
    width: 40%;
    height: 31.5%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
  }
  
  .modal__header {
    width: 100%;
    padding: 0.5rem 0.5rem;
    background: #a30e77;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .modal__header h2 {
    margin: 0.5rem;
  }
  
  .modal__content {
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 16px;
  }
  
  .modal__footer {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .modal__btns {
      width: 6rem;
      margin-right: 0.5rem;
  }